/* CSS for print media query */
@media print {
    body * {
      visibility: hidden;
    }
    .print-container,
    .print-container * {
      visibility: visible;
    }
    .print-container {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  