#datePicker {
  margin-top: 20px;
}

#addToList {
  float: right;
}

#challan {
  position: relative;
  top: 17px;
}
#invoicebtn {
  position: relative;
  left: 530px;
  top: 15px;
}

.error {
  border: 2px solid red;
  border-radius: 5px;
}

.page_header {
  font-family: "Roboto", sans-serif;
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}
